---
layout: default
title: Single Post Page
---

<main class="singlePost">
	<header>
		<h1>{{title}}</h1>
		<p class="postMeta">
			
			{% for tag in tags -%}
				{% if tag !== 'post' %}
					<a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a>
				{% endif %}
			{%- endfor %}
			| 
			<time>
				{{ date | readableDate }}
			</time>
		</p>
	</header>
	<article class="limitedWidth singlePost">
		{{ content | safe }}
		
	</article>
	<p class="seeMore">
        <a href="/archive" class="">
            &laquo Back to All Articles...
        </a>
    </p>

</main>