---
layout: default
title: Blog Home
path: home
---


<div class="container max-w-3xl px-6">

	<h1 class="font-bold text-5xl">{{title}}</h1>

   
<section class="allPosts">
    {% set postslist = collections.post  %}
    {% for post in postslist.slice(0,5) | reverse %}
        <article class="eachPost">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="postDate">
                    <span class='day'>{{ post.date | readableDay }}</span>
                    <span class='month'>{{ post.date | readableMonth }}</span>
                    <span class='year'>{{ post.date | readableYear }}</span>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

     

        </article>
    {% endfor %}
</section>
<p class="text-center">
    <a href="/archive" class="more">See All Posts...</a>
</p>

</div>