<div class="nav-wrapper">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
    
        <div class="content">
            <div class="logo">
                <a href="/">
                    <img class="inline" src="https://www.ayushsaran.info/img/logo_round_196.png" width="32" /> Ayush's Blog
                </a>

            </div>
            <ul class="links">

                {% if navigation.items %}
                {% for item in navigation.items %}
                <li>
                    <a @click="isOpen = false" href="{{ item.url }}">
                        {{ item.text }}</a>
                </li>
                {% endfor %}
                {% endif %}

                <!-- 
            <li>
            <a href="#" class="desktop-link">Features</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
                <li><a href="#">Drop Menu 1</a></li>
                <li><a href="#">Drop Menu 2</a></li>
                <li><a href="#">Drop Menu 3</a></li>
                <li><a href="#">Drop Menu 4</a></li>
            </ul>
            </li> -->


            </ul>
            <label for="show-menu" class="menu-icon">MENU&nbsp;
                <svg viewBox="0 0 100 80" width="30" height="30">
                    <rect width="100" height="20" fill="#ffffff"></rect>
                    <rect y="30" width="100" height="20" fill="#ffffff"></rect>
                    <rect y="60" width="100" height="20" fill="#ffffff"></rect>
                </svg>
            </label>
        </div>
     
    </nav>
</div>