<div class="nav-wrapper">
    <nav class="flex limitedWidth" x-data="{ isOpen: false }" @keydown.escape="isOpen = false"  @click.away="isOpen = false">
        <!--Logo etc-->
        <div class="logo">
            <a href="/" class=" font-bold text-lg">
                Ayush's Blog</a>
        </div>

        <!--Menu-->
        
       <!--Toggle button (hidden on large screens)-->
       <input type="checkbox" id="checkbox_toggle"><label for="checkbox_toggle" class="burger">☰</label>

            {% if navigation.items %}

                <ul class="menu">
                    {% for item in navigation.items %}
                        <li class="nav__item mr-3">
                            <a @click="isOpen = false" class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 py-2 px-4" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
       
        
      
    </nav>
</div>
